---
import Layout from '../layouts/Web.astro';
import Jumbotron from '../components/Jumbotron.astro';
---

<Layout title="Welcome to DEVS MX">
	<main>
		<Jumbotron
			title="Developers México"
			body="Somos una comunidad de desarrolladores con ganas de emprender."
			href="#"
		/>

		<section class="bg-white dark:bg-gray-900">
				<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
					<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">We invest in the world’s potential</h1>
					<p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
					<div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
