---
import Layout from '../layouts/Web.astro';
import Jumbotron from '../components/Jumbotron.astro';
---

<Layout title="Welcome to DEVS MX">
	<main>
		<Jumbotron
			title="Teting Astro"
			body="This is a testing item body"
			href="#"
		/>
	</main>
</Layout>

<style>
	
</style>
