---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="bg-white border-gray-200 dark:bg-gray-900">
			<div
				class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
			>
				<a href="/" class="flex items-center">
					<img
						src="https://flowbite.com/docs/images/logo.svg"
						class="h-8 mr-3"
						alt="Flowbite Logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>DEVS MX</span
					>
				</a>
				<button
					data-collapse-toggle="navbar-default"
					type="button"
					class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
					aria-controls="navbar-default"
					aria-expanded="false"
				>
					<span class="sr-only">Open main menu</span>
					<svg
						class="w-5 h-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 17 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15"></path>
					</svg>
				</button>
				<div
					class="hidden w-full md:block md:w-auto"
					id="navbar-default"
				>
					<ul
						class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
					>
						<li>
							<a
								href="/"
								class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
								aria-current="page">Inicio</a
							>
						</li>
						<li>
							<a
								href="/nosotros"
								class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Nosotros</a
							>
						</li>
						<li>
							<a
								href="/developers"
								class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Developers</a
							>
						</li>
						<li>
							<a
								href="/proyectos"
								class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Proyectos</a
							>
						</li>
						<li>
							<a
								href="/contacto"
								class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Contacto</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<slot />

		<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
			<div
				class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
			>
				<span
					class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>© 2023 <a
						href="https://flowbite.com/"
						class="hover:underline">Flowbite™</a
					>. All Rights Reserved.
				</span>
				<ul
					class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
				>
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6"
							>About</a
						>
					</li>
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6"
							>Privacy Policy</a
						>
					</li>
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6"
							>Licensing</a
						>
					</li>
					<li>
						<a href="#" class="hover:underline">Contact</a>
					</li>
				</ul>
			</div>
		</footer>

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"
		></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
